In [1]:
from bs4 import BeautifulSoup
import urllib2
import pandas as pd
import re
import requests

# Reference - https://gist.github.com/wassname/5b10774dfcd61cdd3f28

In [2]:
wiki = 'https://en.wikipedia.org/wiki/Economy_of_the_European_Union'

In [3]:
proxies = {}

In [4]:
response = requests.get(wiki,proxies=proxies)

In [5]:
page_html = response.text
page_soup = BeautifulSoup(page_html,"html.parser")

In [6]:
tables = page_soup.findAll("table", { "class" : "wikitable" })

In [7]:
print "Number of Tables = " +str(len(tables))

Number of Tables = 17

In [8]:
table_1 = tables[0]

In [9]:
print table_1

<table class="wikitable">
<caption>Fortune top 10 E.U. corporations by revenue (2016)<sup class="reference" id="cite_ref-fortune500_47-0"><a href="#cite_note-fortune500-47">[47]</a></sup></caption>
<tr>
<th>Rank</th>
<th>Corporation</th>
<th>Stock ticker</th>
<th>Revenue $ millions</th>
<th>Profit $ millions</th>
<th>Employees</th>
<th>Headquarters</th>
<th>Industry</th>
</tr>
<tr>
<td>1</td>
<td><a href="/wiki/Royal_Dutch_Shell" title="Royal Dutch Shell">Royal Dutch Shell</a></td>
<td>RDS.A</td>
<td>272,156</td>
<td>1,939</td>
<td>90,000</td>
<td><a class="new" href="/w/index.php?title=Shell_Centre,_London&amp;action=edit&amp;redlink=1" title="Shell Centre, London (page does not exist)">Shell Centre, London</a>, UK, <a href="/wiki/The_Hague" title="The Hague">The Hague</a>, Netherlands</td>
<td>Energy</td>
</tr>
<tr>
<td>2</td>
<td><a href="/wiki/Volkswagen_Group" title="Volkswagen Group">Volkswagen</a></td>
<td>VLKAY</td>
<td>236,600</td>
<td>-1,520</td>
<td>610,076</td>
<td><a href="/wiki/Wolfsburg" title="Wolfsburg">Wolfsburg</a>, Germany</td>
<td>Motor Vehicles &amp; Parts</td>
</tr>
<tr>
<td>3</td>
<td><a href="/wiki/BP" title="BP">BP PLC</a></td>
<td>BP.L</td>
<td>183,000</td>
<td>4,100</td>
<td>74500</td>
<td><a href="/wiki/London" title="London">London</a>, UK</td>
<td>Energy</td>
</tr>
<tr>
<td>4</td>
<td><a href="/wiki/Daimler_AG" title="Daimler AG">Daimler</a></td>
<td>DDAIY</td>
<td>165,800</td>
<td>9,345</td>
<td>284,015</td>
<td><a href="/wiki/Stuttgart" title="Stuttgart">Stuttgart</a>, Germany</td>
<td>Motor Vehicles &amp; Parts</td>
</tr>
<tr>
<td>5</td>
<td><a href="/wiki/Exor_(company)" title="Exor (company)">EXOR Group</a></td>
<td>EXOSF</td>
<td>152,591</td>
<td>825</td>
<td>303,247</td>
<td><a href="/wiki/Turin" title="Turin">Turin</a>, Italy</td>
<td>Financials</td>
</tr>
<tr>
<td>6</td>
<td><a href="/wiki/Total_S.A." title="Total S.A.">Total</a></td>
<td>TOT</td>
<td>143,421</td>
<td>5,087</td>
<td>96,019</td>
<td><a href="/wiki/Paris" title="Paris">Paris</a>, France</td>
<td>Energy</td>
</tr>
<tr>
<td>7</td>
<td><a href="/wiki/E.ON" title="E.ON">E.ON</a></td>
<td>EONGY</td>
<td>129,277</td>
<td>-7,764</td>
<td>56,490</td>
<td><a href="/wiki/Essen" title="Essen">Essen</a>, Germany</td>
<td>Energy</td>
</tr>
<tr>
<td>8</td>
<td><a href="/wiki/AXA" title="AXA">AXA</a></td>
<td>AXAHY</td>
<td>129,250</td>
<td>6,231</td>
<td>98,279</td>
<td><a href="/wiki/Paris" title="Paris">Paris</a>, France</td>
<td>Financials</td>
</tr>
<tr>
<td>9</td>
<td><a href="/wiki/Allianz" title="Allianz">Allianz</a></td>
<td>AZSEY</td>
<td>122,948</td>
<td>7,339</td>
<td>142,459</td>
<td><a href="/wiki/Munich" title="Munich">Munich</a>, Germany</td>
<td>Financials</td>
</tr>
<tr>
<td>10</td>
<td><a href="/wiki/BNP_Paribas" title="BNP Paribas">BNP Paribas</a></td>
<td>BNPQY</td>
<td>111,531</td>
<td>7,426</td>
<td>181,551</td>
<td><a href="/wiki/Paris" title="Paris">Paris</a>, France</td>
<td>Financials</td>
</tr>
</table>

In [10]:
rows=table_1.findAll("tr")
row_lengths=[len(r.findAll(['th','td'])) for r in rows]
ncols=max(row_lengths)
nrows=len(rows)

data=[]
for i in range(nrows):
    rowD=[]
    for j in range(ncols):
        rowD.append('')
    data.append(rowD)

In [11]:
print len(data)
print len(data[0])

11
8

In [12]:
for i in range(len(rows)):
    row=rows[i]
    cells = row.findAll(["td","th"])
    for j in range(len(cells)):
        cell=cells[j]
        data[i][j]+=cell.text

In [13]:
data

[[u'Rank',
  u'Corporation',
  u'Stock ticker',
  u'Revenue $ millions',
  u'Profit $ millions',
  u'Employees',
  u'Headquarters',
  u'Industry'],
 [u'1',
  u'Royal Dutch Shell',
  u'RDS.A',
  u'272,156',
  u'1,939',
  u'90,000',
  u'Shell Centre, London, UK, The Hague, Netherlands',
  u'Energy'],
 [u'2',
  u'Volkswagen',
  u'VLKAY',
  u'236,600',
  u'-1,520',
  u'610,076',
  u'Wolfsburg, Germany',
  u'Motor Vehicles & Parts'],
 [u'3',
  u'BP PLC',
  u'BP.L',
  u'183,000',
  u'4,100',
  u'74500',
  u'London, UK',
  u'Energy'],
 [u'4',
  u'Daimler',
  u'DDAIY',
  u'165,800',
  u'9,345',
  u'284,015',
  u'Stuttgart, Germany',
  u'Motor Vehicles & Parts'],
 [u'5',
  u'EXOR Group',
  u'EXOSF',
  u'152,591',
  u'825',
  u'303,247',
  u'Turin, Italy',
  u'Financials'],
 [u'6',
  u'Total',
  u'TOT',
  u'143,421',
  u'5,087',
  u'96,019',
  u'Paris, France',
  u'Energy'],
 [u'7',
  u'E.ON',
  u'EONGY',
  u'129,277',
  u'-7,764',
  u'56,490',
  u'Essen, Germany',
  u'Energy'],
 [u'8',
  u'AXA',
  u'AXAHY',
  u'129,250',
  u'6,231',
  u'98,279',
  u'Paris, France',
  u'Financials'],
 [u'9',
  u'Allianz',
  u'AZSEY',
  u'122,948',
  u'7,339',
  u'142,459',
  u'Munich, Germany',
  u'Financials'],
 [u'10',
  u'BNP Paribas',
  u'BNPQY',
  u'111,531',
  u'7,426',
  u'181,551',
  u'Paris, France',
  u'Financials']]

In [14]:
data_cols = data[0]
data = data[1:]

In [15]:
df = pd.DataFrame(data, columns=data_cols)
df

,Rank,Corporation,Stock ticker,Revenue $ millions,Profit $ millions,Employees,Headquarters,Industry
0,1,Royal Dutch Shell,RDS.A,"272,156","1,939","90,000","Shell Centre, London, UK, The Hague, Netherlands",Energy
1,2,Volkswagen,VLKAY,"236,600","-1,520","610,076","Wolfsburg, Germany",Motor Vehicles & Parts
2,3,BP PLC,BP.L,"183,000","4,100",74500,"London, UK",Energy
3,4,Daimler,DDAIY,"165,800","9,345","284,015","Stuttgart, Germany",Motor Vehicles & Parts
4,5,EXOR Group,EXOSF,"152,591",825,"303,247","Turin, Italy",Financials
5,6,Total,TOT,"143,421","5,087","96,019","Paris, France",Energy
6,7,E.ON,EONGY,"129,277","-7,764","56,490","Essen, Germany",Energy
7,8,AXA,AXAHY,"129,250","6,231","98,279","Paris, France",Financials
8,9,Allianz,AZSEY,"122,948","7,339","142,459","Munich, Germany",Financials
9,10,BNP Paribas,BNPQY,"111,531","7,426","181,551","Paris, France",Financials